
/* <link rel="shortcut icon" type="image/jpg" href="Favicon_Image_Location"/> */

body {
    background-color:green;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: red;
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}