<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Textbook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-color: #e6c77a;
        }
        h1 {
            color: #2b4b82;
        }
        h2 {
            color: #5594ab;
        }
        th {
            color: #4c80d9;
        }
        td {
            color: #0a1680;
        }
    </style>
<body>
    <div class="container">
            <h2>Add Textbook:</h2>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="nameInput">Book Title:</label>
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Subject:</label>
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Author:</label>
                        <input type="text" name="class_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Upload Photo:</label>
                        <input type="text" name="upload_photo" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">User Info:</label>
                        <input type="text" name="class_description" id="nameInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn waves-effect waves-light" type="submit" >
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </div>
    </div>
</body>
</html>