<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Textbook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-color: #587B7F;
        }
        h1 {
            color: #1E2019;
        }
        h2 {
            color: #1E2019;
        }
        th {
            color: #4c80d9;
        }
        td {
            color: #0a1680;
        }
        input {
            color: #394032;
        }
    </style>
<body>
    <div class="container">
            <h2>Add Textbook:</h2>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required placeholder="Book Title:">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required placeholder="Subject:">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="class_name" id="nameInput" class="validate" data-length="32" required placeholder="Author:">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="upload_photo" id="nameInput" class="validate" data-length="32" required placeholder="Upload Photo:">
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="class_description" id="nameInput" class="validate" data-length="32" required placeholder="User Info:">
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn waves-effect waves-light" type="submit" >
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </div>
    </div>
</body>
</html>