<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Book List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" type="text/css" href="/full_list.css"> -->
    <!-- <script src="/animals.js"></script> -->
    <!-- <script src="/app.js"></script> -->

    <style>
        body {
            background-color: #e6c77a;
        }
        h1 {
            color: #2b4b82;
        }
        h2 {
            color: #5594ab;
        }
        th {
            color: #4c80d9;
        }
        td {
            color: #0a1680;
        }


        #searchbar{
        margin-left: 15%;
        padding:15px;
        border-radius: 10px;
        }
    </style>


<script>
    function search_book() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('books');
      
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="table-cell";     
        }
    }
}
</script>
</head>
<body>
    <div class="container">
        <input id="searchbar" onkeyup="search_book()" type="text"
        name="search" placeholder="Search for books:">
        <h1>Book List </h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Subject</th>
                <th>Author</th>
            </th>
            <% for (let i = 0; i < inventory.length; i++) { %>
            <tr>
                <td class="books"><%=inventory[i].title%></td>
                <td class="books"><%=inventory[i].subject%></td>
                <td class="books"><%=inventory[i].author%></td>
                <td>
                    <a class="btn-small waves-effect waves-light" href=<%="/full_list/specific_item/" + inventory[i].id %> >
                        More Info
                    </a>
                </td>
            </tr>
            <% } %>
                <div class="section">
                    <a class="btn-small waves-effect waves-light" href="/">Home Page</a>
                </div>
    </div>
    <script> M.AutoInit();</script>
    <!-- <script src="/full_list.js"></script> -->
</body>
</html>