<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Book List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/full_list.css">
    <script>
        function search_subj() {
        let input = document.getElementById('searchbar_subj').value
        input=input.toLowerCase();
        let x = document.getElementsByClassName('books');
        console.log(x);
          
        for (i = 0; i < x.length; i++) { 
            if (!x[i].innerHTML.toLowerCase().includes(input) && x[i].id=="subject") {
                while (i.id != "subject") {
                    x[i].style.display="none";
                    i++;
                }
            }
            else {
                x[i].style.display="table-cell";     
            }
        }
    }
    </script>
</head>
<body>
    <input id="searchbar_subj" onkeyup="search_subj()" type="text"
    name="search" placeholder="Search by Subject:">
    <div class="container">
        <!-- <input id="searchbar" onkeyup="search_book()" type="text"
        name="search" placeholder="Search by Subject:">
        <input id="searchbar" onkeyup="search_book()" type="text"
        name="search" placeholder="Search by Author:"> -->
        <h1>Book List </h1>
        <table>
            <tr>
                <th>Subject</th>
                <th>Title</th>
                <th>Author</th>
            </th>
            <% for (let i = 0; i < inventory.length; i++) { %>
            <tr>
                <td id="subject" class="books"><%=inventory[i].subject%></td>
                <td class="books"><%=inventory[i].title%></td>
                <td class="books"><%=inventory[i].author%></td>
                <td>
                    <a class="books" href=<%="/full_list/specific_item/" + inventory[i].id %> >
                        More Info
                    </a>
                </td>
            </tr>
            <% } %>
                <div class="section">
                    <button id="button" onclick="location.href='/'">Home Page</button>
                </div>
    </div>
    <script> M.AutoInit();</script>
</body>
</html>