<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Book List</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-color: #e6c77a;
        }
        h1 {
            color: #2b4b82;
        }
        h2 {
            color: #5594ab;
        }
        th {
            color: #4c80d9;
        }
        td {
            color: #0a1680;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Book List</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Subject</th>
                <th>Author</th>
            </th>
            <tr>
                <td>hello</td>
                <td>goodbye</td>
                <td>
                    <a class="btn-small waves-effect waves-light" href="specific_item.html"> >
                        <i class="material-icons right">view</i>
                        View
                    </a>
                    <a class="btn-small waves-effect waves-light red">
                        <i class="material-icons right">delete</i>
                        Delete
                    </a>
                </td>
            </tr>

                <div class="section">
                    <a class="btn-small waves-effect waves-light" href="/">Home Page</a>
                </div>
        </table>
    </div>

    <div class="container">

        <div class="section">
            <h2>Add Textbook:</h2>
            <form method="post" action="/list">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="nameInput">Book Title:</label>
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Subject:</label>
                        <input type="text" name="homework_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Author:</label>
                        <input type="text" name="class_name" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">Upload Photo:</label>
                        <input type="text" name="upload_photo" id="nameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="nameInput">User Info:</label>
                        <input type="text" name="class_description" id="nameInput" class="validate" data-length="32" required>
                    </div>
                </div>
                <div style="text-align: center">
                    <button class="btn waves-effect waves-light" type="submit" >
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script> M.AutoInit();</script>

</body>
</html>
