<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title>Get Started!</title>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Find and Donate Your Used Textbooks!</h2>
        <div class="section" style="text-align: center">
            <button href="/full_list">Search For Book</button>
            <button href="/add_books">Add New Book</button>
        </div>
    </div>
</body>
</html>