<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started!</title>
    <style>
        /* <link rel="shortcut icon" type="image/jpg" href="Favicon_Image_Location"/> */
        
        body {
            background-color:green;
        }
        h1 {
            color: blue;
            text-align: center;
        }
        h2 {
            color: red;
            text-align: center;
        }
        img {
            height: 200px;
            width: 200px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }</style>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <h2>Find and Donate Your Used Textbooks!</h2>
        <div class="section" style="text-align: center">
        <a class="btn-small waves-effect waves-light" href = "/full_list.ejs" >
            Search For Book
            <!-- <i class = "material-icons right">arrow_forward</i> -->
        </a>
        <a class="btn-small waves-effect waves-light" href = "/add_book.ejs" >
            Add New Book
            <!-- <i class = "material-icons right">arrow_forward</i> -->
        </a>
        </div>
    </div>
</body>
</html>