html {
    background-color: #7b0200;
}

body {
    background-color: rgb(220, 187, 122);
    width: 75%;
    height: 700px;
    margin: auto;
    font-family: 'Zilla Slab';
    border: solid rgb(202, 161, 104);
    border-width: 12px;
}

h2 {
    color: #661b1b;
    font-weight: bold;
}

input {
    color: black;
}

button {
    background-color: #7b0200 !important;
    color: white !important;
    border-style: outset !important;
    border-width: 3px;
    border-color: #2F1000 !important;
    border-radius: 8px !important;
    vertical-align: auto !important;
    padding: 0px !important;
    text-transform: none !important;
    height: 40px !important;
    width: 100px !important;
    float: right !important;
    margin: auto auto 40px 40px;
    font-family: 'Zilla Slab' !important;
}

button:hover {
    border-style: inset !important;
    background-color: #661b1b !important;
    border-color: #7b0200 !important;
}

::placeholder, p1 {
    color: rgb(92, 92, 92);
    font-style: italic;
    font-family: 'Zilla Slab';
}