/* #searchbar{
    margin-left: 50%;
    padding:15px;
    border-radius:10px;
    margin-right: 20%;
  } */


  #searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }

  input[type=text] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }

  /* When the input field gets focus,
       change its width to 100% */
  input[type=text]:focus {
    width: 70%;
  }

 #list{
   font-size:  1.5em;
   margin-left: 90px;
}
 
.books{
   display: list-item;    
  } 
body {
    background-color: #e6c77a;
    font-family: 'Zilla Slab';
}
h1 {
    color: #661b1b;
    font-weight: bold;
}
th {
    color: #7f2929;
}
td {
    color: #0a1680;
}

button {
    background-color: #7b0200;
    color: white;
    border-style: outset;
    border-color: #2F1000;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 100px;
    font-family: 'Zilla Slab';
}
button:hover {
    border-style: inset;
    background-color: #661b1b;
    border-color: #7b0200;
}
