body {
    background-color: #e6c77a;
    font-family: 'Zilla Slab';
}
h1 {
    color: #661b1b;
    font-weight: bold;
}
th {
    color: #7f2929;
    width: 150px !important;
}
td {
    color: #0a1680;
}

button, a {
    background-color: #7b0200 !important;
    color: white !important;
    border-style: outset !important;
    border-color: #2F1000 !important;
    border-radius: 8px !important;
    vertical-align: auto !important;
    padding: 0px !important;
    text-transform: none !important;
    height: 30px !important;
    width: 100px !important;
    font-family: 'Zilla Slab' !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
button:hover, a:hover {
    border-style: inset !important;
    background-color: #661b1b !important;
    border-color: #7b0200 !important;
}

#searchbar{
  width: 120px;
  margin-left: 15%;
  padding:5px;
  border-radius: 10px;
  }
