html {
    background-color: #7b0200;
}

body {
    background-color: rgb(220, 187, 122);
    width: 1200px;
    height: 600px;
    margin: auto;
    border-radius: 50px;
    font-family: 'Zilla Slab';
}

h1 {
    color: #661b1b;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

h2 {
    color: black;
    text-align: center;
    font-style: italic;
}

img {
    height: 200px;
    width: 215px;
    margin-left: 496px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #7b0200;
    color: white;
    border-style: outset;
    border-radius: 15px;
    border-color: #2F1000;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 120px;
    font-family: 'Zilla Slab';
}

button:hover {
    border-style: inset;
    background-color: #661b1b;
    border-color: #7b0200;
}